body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:black;
}

.calculator{
    background-color:#222;
    padding:20px;
    border-radius:10px;
}

#display{
    width:100%;
    height:50px;
    font-size:22px;
    text-align:right;
    margin-bottom:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,60px);
    gap:10px;
}

button{
    height:60px;
    font-size:20px;
    cursor:pointer;
}
